{{ define "main" }}

<div class="about-section">
	{{ with .Site.GetPage "/about" }}
	<div class="about-right">
		{{ $image := .Page.Resources.GetMatch .Params.image }}
		{{ with $image }}
            {{ $thumb := .Resize "400x" }}
				<img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}">
		{{ end }}
	</div>
	<div class="about-right">
		<h1>{{ .Title }}</h1>
		<p>
		{{ with .Site.GetPage "/about" }}
		{{ .Summary }}
		{{ end }}
		</p>
		<p>
			<a href="contact/">contact me</a>
		</p>
		{{ partial "social-links" . }}
	</div>
	{{ end }}
</div>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Videos</h1>

<div class="card-grid">
{{ with .Site.GetPage "/videos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc") }}
	<div class="card">
		{{ $image := .Page.Resources.GetMatch .Params.thumbnail }}
		{{ with $image }}
		<img src="{{ $image.RelPermalink }}" alt="thumbnail">
    {{ end }}
		<p>
			<h2> <a href="{{ .Permalink }}">{{ .Title }}</a> </h2>
			{{ .Summary }}
		</p>
	</div>
    {{ end }}
{{ end }}
</div>

{{ end }}
